<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
<%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
<%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :name, label: 'Name' %>
    <%= f.input :country, label: 'Country', required: true %>
    <%= f.input :birthdate %>

    <!-- <%#= f.date_select :birthdate, { :order => [:month, :day, :year], :prompt => { :day => 'Select day', :month => 'Select month' } }, {:class => "select birthday"} %>

    <%#= f.country_select :country%> -->
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
