<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Loan Manager</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>  
          <li> 
          <%= link_to current_user.email, root_path %>
          </li>
           <li>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> 
           </li>
           <% else %>  
           <li>
            <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <li>  
            <%= link_to "Sign in", new_user_session_path %>  
            </li>
        <% end %>  


            
          </ul>
          <form class="navbar-form navbar-right">
            <input class="form-control" placeholder="Search..." type="text">
          </form>
        </div>
      </div>
    </div>