<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    
    <li><%= link_to "Practice" %></li>
    <li><%= link_to "Contests" %></li>
    <li><%= link_to "about" %></li>
    

  </ul>
</div>