<!DOCTYPE html>
<html>
<head>
  <title>SecondTrial</title>

  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

  <%= csrf_meta_tags %>

  </head>
<body>
<%= render 'layouts/header' %>
  
    
<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/sidebar' %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= yield %>
    </div>
  </div>
  
</div>



</body>
</html>
